.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
*.swp
*.xcuserdatad
*.xcworkspace/xcuserdata/
xcuserdata/
DerivedData/
build/
*.xcuserstate
*.xcstate
project.xcworkspace/
*.xcscmblueprint
*.xccheckout
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
build_output/